node_modules/
**/node_modules/
.env
**/.env
.DS_Store
**/.DS_Store
.eslintcache
**/.eslintcache
build/
**/build/
.npm-cache/
**/.npm-cache/
node_modules.partial-install*/
**/node_modules.partial-install*/
